<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<insert id= "setBoard" parameterType="com.setup.test2.Model.BoardVO">
		INSERT INTO grp_teamboard SET 
			boardTeam      = #{boardTeam},
			boardCode     = #{boardCode},
			boardColor    = #{boardColor},
			boardMaker    = #{boardMaker},
			boardTitle    = #{boardTitle},
			boardType     = #{boardType},
			boardRead     = #{boardRead},
			boardWrite    = #{boardWrite},
			boardReply    = #{boardReply},
			boardDown 	  = #{boardDown}, 
			boardDetail		=#{boardDetail},
			boardReference  =#{boardReference},
			boardRegdate  = now()
			
	</insert>
	
	<insert id="createArticleTbl">
		${str}
	</insert>

	<insert id="createCommentTbl">
		${str}
	</insert>
	
	
	<select id= "getBoardList" resultType="com.setup.test2.Model.BoardVO">
		SELECT * FROM grp_teamboard A, grp_team B WHERE A.boardTeam = B.team_id ORDER BY boardID DESC LIMIT #{start}, #{end}
	</select>

	
	<delete id="setBoardDel" parameterType="String">
		DELETE FROM grp_teamboard WHERE boardCode = #{boardCode}
	</delete>
	
	<insert id="dropArticleTbl">
		${str}
	</insert>

	<insert id="dropCommentTbl">
		${str}
	</insert>
	
	
	<select id= "getBoardCount"  resultType="int">
		SELECT COUNT(boardID) FROM grp_teamboard
	</select>
	
	<select id="getBoardSelectOne" resultType="com.setup.test2.Model.BoardVO">
		SELECT * FROM grp_teamboard WHERE boardID = #{boardID}
	</select>
	
	<update id="setBoardModify" parameterType="com.setup.test2.Model.BoardVO">
		UPDATE grp_teamboard SET  
		 boardColor = #{boardColor}, 
		 boardTitle = #{boardTitle}, 
		 boardType = #{boardType}, 
		 boardRead = #{boardRead}, 
		 boardDown = #{boardDown},
		 boardDetail	=#{boardDetail},
		 boardReference  =#{boardReference} 
		 WHERE boardID = ${boardID}
		 
	
	</update>
	
	<select id="getPostList" resultType="com.setup.test2.Model.PostVO">
		SELECT * FROM grp_post ORDER BY post_id
	</select>
	
</mapper>