<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="main">


    
    <select id="selectTimeLine" resultType="com.setup.test2.Model.Notice.NoticeBoardVO" >
        SELECT TB.BRDNO, LEFT(TB.BRDTITLE, 10) REMEMO, USERNM REWRITER, PHOTO
             , UF_DATETIME2STRING(REDATE) REDATE
          FROM TBL_BOARD TB
         INNER JOIN TBL_BOARDREPLY TBR ON TBR.BRDNO=TB.BRDNO
         INNER JOIN COM_USER CU ON TBR.USERNO=CU.USERNO
         WHERE BRDDELETEFLAG='N' AND REDELETEFLAG='N'
         ORDER BY TBR.REDATE DESC
         LIMIT 20
    </select>
    
    <select id="selectNoticeListTop5" resultType="com.setup.test2.Model.Notice.NoticeBoardVO">
        SELECT BRDNO, BRDTITLE, BRDWRITER, DATE_FORMAT(BRDDATE,'%Y-%m-%d') BRDDATE FROM grp_notice ORDER BY BRDNO DESC LIMIT 8
    </select> 
     
</mapper>

